* {
    margin: 0;
    padding: 0;
}

html,
body {
    height: 100%;
    width: 100%;
}

body {
    width: 100vw;
    height: 100vh;
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: #102;
}

.card {
    position: relative;
    height: 400px;
    width: 300px;
    border: none;
    border-radius: 10px;
    background-color: aliceblue;
    padding: 10px;
}

.card img {
    height: 90%;
    width: 100%;
    object-fit: cover;
    object-position: center;
    border-radius: 10px;

}

.card i {
    font-size: 75px;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%) scale(0);
    color: aliceblue;
    opacity: 0;
    transition: transform ease 0.5s ;
}

.commit i{  
    opacity: 1;
    position: absolute;
    color: #130101;
    font-size: 25px;
    font-weight: 200;
}